/* Removed Poppins because you are using Aeonik */
@font-face {
  font-family: "Aeonik";
  src: url(".assets/fonts/Aeonik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("./assets/fonts/Aeonik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Aeonik", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #000000, #1b2137);
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded-xl mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-gradient-to-r from-color1 to-color2 text-white px-5 py-3 rounded-xl hover:bg-color1;
  }

  .icon-btn {
    @apply text-xl text-slate-400 cursor-pointer hover:text-blue-700;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
